.aim{
    &__title{
        margin: 20px auto;
        text-align: center;
        font-size: 30px;
        text-transform: capitalize;
        font-weight: 600;
    }
    &__text{
        margin-bottom: 40px;
        line-height: 25px;
        color:$text-color;
        @include sm{
            font-size: 15px;
            line-height: 20px;
        }
    }
    &__issue{
        justify-content: center;
        &-item{
           margin-bottom: 30px;
        }
    }
    &__advantages{
        margin-top: 50px;   
        &-item{
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            margin-bottom: 30px;
            position: relative;
            &:hover{
                .aim-ico{
                    background:$main-color;
                    svg{
                        path{
                            fill: #fff;
                        }
                    }
                }
            }
            .aim-ico{
                height: 70px;
                width: 70px;
                border: 2px solid $main-color;
                transition: .3s all;    
                @include flex(center,center);   
                border-radius: 50%;
                margin-bottom: 20px;
                svg{
                    height: 35px;
                }
            }
            p{
                line-height: 25px;
                overflow: hidden;   
                transition: .5s all;
                color:$text-color;
                @include xl{
                    max-height: 147px;
                }  
            }
            button{
                @include flex;
                background: $main-color ;
                border:none;
                padding: 5px;
                border-radius:5px;
                cursor: pointer;
                color:#fff;
                transition: .5s all;
                margin-top: 6px;    
                &:hover{
                    background:$hover-color;
                }
                &:before{
                    content:"";
                    transition: .3s ;
                    position: absolute;
                    width: 100%;
                    transform: translateY(-150%);
                    background:rgba($color: rgb(255,255,255), $alpha: 0.7);
                    @media (prefers-color-scheme: dark) {
                        background:rgba($color: rgb(17, 39, 58), $alpha: 0.7);
                    }
                    height: 18px;
                }
                img{    
                    transform: rotate(-90deg);
                    height: 15px;
                   
                }
                &.full{
                    img{
                        transform: rotate(90deg);
                    }
                    &:before{
                        content:"";
                        width: 0;
                    }
                }
            }
        }
    }
}