.nav {
    background: $main-color;
    height: 65px;
    text-transform: capitalize;
    &__container {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }

    &__logo {
        height: 70%;
        z-index: 5;
        width: 250px;

        a {
            display: block;
            height: 100%;
            width: 80%;
            background: url("../images/finecs-logo.webp") no-repeat 0 0/contain;
        }
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        width: 70%;
        height: 100%;
        align-items: center;
        transition: .5s;
        z-index: 4;

        @include lg {
            width: 90%;
        }

        @include md {
            position: absolute;
            display: block;
            height: 100%;
            top: 0;
            right: 0;
            background: #cfedff;

            @media (prefers-color-scheme: dark) {
                background: #0d3953;
            }

            border-top: 2px solid $hover-color;
            width: 100%;
            transform: translateY(-110%);

            &.active {
                transform: translateY(0);
                top: 65px;
            }

            li {
                height: 13.1vh;
                width: 100%;

                a {
                    justify-content: center;
                    width: 100%;
                    color: $text-color;
                    font-size: 20px;
                    font-weight: 600;
                }
            }


        }

        &-item {
            height: 100%;

            &.active {
                background: $hover-color;

                @include md {
                    a {
                        color: #fff;
                    }
                }
            }

            a {
                color: #fff;
                font-weight: 500;
                font-size: 17px;
                height: 100%;
                transition: .5s;
                display: inline-flex;
                align-items: center;
                padding: 0 14px;

                @include lg {
                    padding: 0;
                    font-size: 15px;
                }

                &:hover {
                    background: $hover-color;

                    @include md {
                        background: none;
                    }
                }

            }

        }

        &-lang {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 5px 0;
            transition: .5s;
            position: relative;
            flex-direction: column;
            justify-content: space-between;
            border-left: 1px solid $main-color;
            border-right: 1px solid $main-color;

            &:hover {

                background: $hover-color;
                border-left: 1px solid $hover-color;
                border-right: 1px solid $hover-color;

                @include md {
                    background: none;

                }
            }


            a {
                background: none;
                border: none;
                color: #fff;
                cursor: pointer;
                display: flex;
                font-size: 16px;
                transition: 0.5s all;
                width: 100%;
                padding: 0 10px;


                &:hover {
                    background: $main-color;
                }

                &.active {
                    transition: .3s;
                    position: relative;
                    order: -1;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:not(.active) {
                    opacity: 0;
                    visibility: hidden;
                }
            }

            &:hover {
                a {
                    &.active {
                        top: 0;
                        transform: translateY(0%);
                    }

                    &:not(.active) {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }





            @include md {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;

                a {
                    padding: 5px 15px;
                    opacity: 1 !important;
                    visibility: visible !important;
                    width: auto;

                    &.active {
                        top: auto;
                        transform: translateY(0);
                        border: 1px solid $text-color;
                        order: unset;
                    }

                    color:$text-color;
                    font-weight: 600;
                }
            }
        }
    }

    &__burger {
        display: none;
        height: 25px;
        position: relative;
        transition: .5s all;
        cursor: pointer;
        width: 25px;
        z-index: 5;

        div {
            transition: .3s;
            width: 25px;
            height: 3px;
            background: #fff;
            position: absolute;
        }

        .line1 {
            top: 0;
        }

        .line2 {
            top: 50%;
            transform: translateY(-50%);
        }

        .line3 {
            bottom: 0;
        }

        @include md {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &.active {
            top: 10px;

            .line1 {
                top: -7px;
                width: 15px;
                transform: rotate(-45deg);
            }

            .line2 {
                top: 0;
                transform: rotate(90deg);
            }

            .line3 {
                transform: rotate(45deg);
                top: -7px;
                width: 15px;
                left: 10px;
            }
        }
    }
}