section.content.authors 
    .container.authors__container 
        h2.lng-authors-title.title Instructions to authors
        p.lng-authors-guide.authors-guide Submission guidelines
        p.lng-authors-fee.authors-fee There is no submission and publication fee.
        .authors__submission 
            .authors__submission-item 
                .authors__submission-title 
                    .authors__submission-ico 
                        include icons/submission-ico
                    h3.lng-authors-subtitle.authors__submission-subtitle 1. Submission
                ul.lng-list-authContent1.authors__submission-content 
                    li.authors__submission-text Manuscripts must be written in good English and should be  submitted through e-mail:  <a href="mailto:sh.elmurodov@ytit.uz">sh.elmurodov@ytit.uz</a>. Manuscripts should be submitted as a single MS-Word file,  including all materials.
                    li.authors__submission-font <span>Font</span>: 11 point, Arial
                    li.authors__submission-style <span>Page style</span>: Single column
            .authors__submission-item 
                .authors__submission-title 
                    .authors__submission-ico 
                        include icons/title-ico
                    h3.lng-authors-subtitle.authors__submission-subtitle 2. Title page
                ul.lng-list-authContent2.authors__submission-content 
                    li.authors__submission-text The first page of the manuscript must contain: the full title; the affiliation and full address of all authors and the corresponding author; the second page must contain an abstract of 250 words or less.
            .authors__submission-item 
                .authors__submission-title 
                    .authors__submission-ico 
                        include icons/abstract-ico
                    h3.lng-authors-subtitle.authors__submission-subtitle 3. Abstract
                ul.lng-list-authContent3.authors__submission-content 
                    li.authors__submission-text Author(s) will need to write abstract briefly and clearly the main aims and findings/conclusions of the work; it should provide the reader a clear idea of what has been achieved. The length of the abstract should be within 150-250 words.
            .authors__submission-item 
                .authors__submission-title 
                    .authors__submission-ico 
                        include icons/abbr-ico
                    h3.lng-authors-subtitle.authors__submission-subtitle 4. Abbreviations
                ul.lng-list-authContent4.authors__submission-content 
                    li.authors__submission-text Any word or words to be abbreviated should be written in full when first mentioned followed by the abbreviation in parenthesis.
            .authors__submission-item 
                .authors__submission-title 
                    .authors__submission-ico 
                        include icons/illustrate-ico
                    h3.lng-authors-subtitle.authors__submission-subtitle 5. Illustrations
                ul.lng-list-authContent5.authors__submission-content 
                    li.authors__submission-text All illustrations of any kind should be submitted as sequentially numbered figures, illustrations should be inserted in the main body of the manuscript text.
            .authors__submission-item 
                .authors__submission-title 
                    .authors__submission-ico 
                        include icons/table-ico
                    h3.lng-authors-subtitle.authors__submission-subtitle 6.Tables and Supplementary Material 
                ul.lng-list-authContent6.authors__submission-content 
                    li.authors__submission-text Data must be kept to a minimum. Tables should be numbered and headed with short titles. As with illustrations, they should insert in the main manuscript text.
            .authors__submission-item 
                .authors__submission-title 
                    .authors__submission-ico 
                        include icons/confirm-ico
                    h3.lng-authors-subtitle.authors__submission-subtitle 7. Acknowledgements
                ul.lng-list-authContent7.authors__submission-content 
                    li.authors__submission-text Acknowledgements should appear at the end of the text.
            .authors__submission-item 
                .authors__submission-title 
                    .authors__submission-ico 
                        include icons/reference-ico
                    h3.lng-authors-subtitle.authors__submission-subtitle 8. References
                ul.lng-list-authContent8.authors__submission-content 
                    li.authors__submission-text APA referencing style is a must journal paper
                    li.authors__submission-text • Aaker, D. (2003). The Power of the Branded Differentiator. MIT Sloan Management Review, 45(1), 83-87. </br>• Talukdar, D., Sudhir, K., & Ainslie, A. (2002). Investigating New Products Diffusion across Products and Countries. Marketing Science, 21(1), 97-114. 
                    li.authors__submission-text Article in magazine or newspaper</br>• Goodwin, S. (2009, January 28). Will emerging markets manage the crisis? Business Gazette, p. A4.
                    li.authors__submission-text Online sources </br>• Cain, K. (2012). The Negative Effects of Facebook on Communication. Social Media Today RSS. Retrieved January 3, 2013, from http://socialmediatoday.com
                    li.authors__submission-text Books </br>• Porter, M. E. (1992). The Competitive Advantage of Nations (3rd ed.). LondonBasingstoke: Macmillan Press.
            .authors__submission-item 
                .authors__submission-title 
                    .authors__submission-ico 
                        include icons/notes-ico
                    h3.lng-authors-subtitle.authors__submission-subtitle 9. Footnotes
                ul.lng-list-authContent9.authors__submission-content 
                    li.authors__submission-text These should be numbered consecutively in the text         
            .authors__submission-item 
                .authors__submission-title 
                    .authors__submission-ico 
                        include icons/appendix-ico
                    h3.lng-authors-subtitle.authors__submission-subtitle 10. Appendix: At the end of paper          
                            
                    
                
            