section.content.content__about 
    .container.content__about-container 
        h2.content__title.title.lng-about-title About us
        p.content-text.lng-about-text  The International Journal of Financial and Economic Sustainability (FINECS, ISSN-2181-1636) aims to publish articles of high quality dealing with issues in international finance which impact on national and global economies. While maintaining the high standards of a fully refereed academic journal, with technical, empirical and theoretical material, FINECS articles will also be accessible to non-specialists, policy-makers and practitioners. FINECS will publish a feature article on a major issue in international finance, written at a non-technical, but academically rigorous, level. FINECS wilyl concern itself with issues such as exchange rates, balance of payments, financial institutions, risk analysis, international banking and portfolio management, financial market regulation, the financial aspects of transition economies, financial instruments and international financial policy co-ordination.
        .row.journal 
            .col-md-5.journal-img
                img(src="images/journal_cover.webp", alt="")
            .col-md-6 
                h3.lng-journal-title The journal is published quarterly, and all papers are published in English. FINECS is aimed at practitioners, researchers and graduate students in:
                ul.lng-list-journal.journal__list 
                    li.journal__list-item economics
                    li.journal__list-item finance
                    li.journal__list-item islamic finance and banking
                    li.journal__list-item marketing
                    li.journal__list-item financial economics
                    li.journal__list-item political economy
                    li.journal__list-item financial analysis and treasury management
                    li.journal__list-item policy making.
include content-aim