section.content.editorial 
    .container.editorial__container
        .editorial__accordeon
            .editorial__accordeon-item
                button.editorial__accordeon-btn.lng-editorial-btn1.active Chief Editor
                .editorial__accordeon-content.active 
                    ul.editorial__accordeon-list.lng-list-editorial1
                        li Professor <span>Alisher Vakhobov</span>, Uzbekistan
            .editorial__accordeon-item 
                button.editorial__accordeon-btn.lng-editorial-btn2 Associate Editor
                .editorial__accordeon-content 
                    ul.editorial__accordeon-list.lng-list-editorial2
                        li <span>Shokhjahon Elmurodov</span>, Uzbekistan
            .editorial__accordeon-item 
                button.editorial__accordeon-btn.lng-editorial-btn3 Editorial Board
                .editorial__accordeon-content 
                    ul.editorial__accordeon-list.lng-list-editorial3
                        li Professor <span>Alisher Vakhobov</span>, Uzbekistan
                        li.position Rector of the Yeoju Technical Institute in Tashkent, Uzbekistan
                        li Professor <span>Abdurakhim Vakhobov</span>
                        li.position Professor of International Economics, National University of Uzbekistan, Uzbekistan
                        li Associate Professor <span>Omonullokhon Akhmedov</span> 
                        li.position Head of the department of “Economics” of Yeoju Technical Institute in Tashkent, Uzbekistan
                        li Associate Professor <span>Fozil Dodiev</span> 
                        li.position Professor of Banking, Islamic Finance at Yeoju Technical Institute in Tashkent
                        li Professor <span>Buvsara Tashmuradova</span>
                        li.position Professor of Tax and Taxation at Tashkent Institute of Finance, Uzbekistan
                        li Professor <span>Samariddin Elmirzaev</span> 
                        li.position Professor of Corporate finance and Corporate Governance at Tashkent Institute of Finance, Uzbekistan
                        li <span>Ismail Shawky Ismail Amr</span>  
                        li.position Senior Economic Researcher at Ministry of International Cooperation Egypt, Egypt
                        li Professor <span>Janabay Isakov</span>  
                        li.position Professor of Banking at Tashkent State University of Economics, Uzbekistan
                        li Associate Professor <span> Shoira Odilova</span>  
                        li.position Professor of Management at Yeoju Technical Institute in Tashkent, Uzbekistan
                        li Associate Professor <span>Omonullo Khamdamov</span>  
                        li.position Professor of Financial Management at Tashkent Institute of Finance, Uzbekistan
                        li <span>Akmal Allakuliev</span> 
                        li.position Dean of the School of Finance, Banking and Accounting at Yeoju Technical Institute in Tashkent, Uzbekistan
                        li <span> Ahmed Essam Nashaat Abdelalim</span> 
                        li.position Researcher at international Tax Department, Ministry of Finance in Egypt, Egypt
                        li <span> Zebo Sharipova</span> 
                        li.position Senior Lecturer of Green Economy at Yeoju Technical Institute in Tashkent, Uzbekistan
                        li <span> Shokhrukh Rasulov</span> 
                        li.position Senior Lecturer of Marketing Research at Yeoju Technical Institute in Tashkent, Uzbekistan
                        li <span> Azizjon Rakhmonov</span>
                        li.position Senior Lecturer of International Economic relations at Yeoju Technical Institute in Tashkent, Uzbekistan
                        
