section.content.aim
    .container.aim__container
        h2.aim__title.lng-aim-title.title Aim and Scope
        p.aim__text.lng-aim-text Financial and Economic Sustainability (FINECS) publishes original research and criticism into issues of development economics, Islamic economics, financial economics and studies on the relationship between  business management and economics. FINECS is an international peer-reviewed journal, which is devoted to current issues of economics across the globe. FINECS is published on a quarterly basis and covers diversified topics by including:
        .row.aim__issue 
            .col-lg-4.col-md-6.aim__issue-item
                h3.lng-issue-title1 Economic Issues
                ul.lng-list-issues1 
                    li Growth and Development Strategies
                    li Fiscal System and Policy
                    li Monetary System and Policy 
                    li Income Distribution
                    li Poverty
                    li Unemployment
                    li Inflation
                    li Savings
                    li Investment
                    li Consumption
                    li Human capital
                    li Trade Policy
                    li FDI
                    li WTO
                    li The History of Economic Thought
            .col-lg-4.col-md-6.aim__issue-item 
                h3.lng-issue-title2 Financial Issues
                ul.lng-list-issues2 
                    li Financial Reforms
                    li Finance and Investment
                    li International Trade and Finance
                    li Asset Pricing Theory
                    li Risk Securitization
                    li Derivatives and Structured Financial Products
                    li Commercial Insurance and Reinsurance
                    li Corporate Finance, Mergers and Acquisitions
                    li The Microstructure of the Finance Market
            .col-lg-4.col-md-6.aim__issue-item 
                h3.lng-issue-title3 Islamic Finance Issues 
                ul.lng-list-issues3 
                    li  Islamic Accounting 
                    li Dispute Settlement in Islamic Finance: Issue & Solutions
                    li Ensuring Syariah Compliance in Islamic Financial Instruments
                    li Enterprise Risk Management for Islamic Banks
                    li Enterprise Risk Management for Takaful Operators
                    li Governance for Islamic Finance Industry
                    li Human Capital Development in Islamic Finance Industry
                    li Islamic Banking & Finance
                    li Islamic Business
                    li Islamic Ethics in Financial Services Industry
                    li Islamic Financial Planning
                    li Islamic Gold Account
                    li Islamic Management
                    li Islamic Mutual Funds
                    li Legal Issues & Challenges in Islamic Finance
                    li Product Development & Implementation of Islamic Financial Products
                    li Social Entrepreneurship
                    li Islamic Accounting Standards
        .row.aim__advantages 
            .col-lg-4.col-md-6.aim__advantages-item
                .aim-ico
                    include icons/tasks-ico
                h3.lng-aimItem-title Editorial Objectives and Coverage
                p.lng-aimItem-text FINECS accepts submissions from different regions of the world and aims to publish articles that can be theoretical, empirical and/or policy oriented. The basic objective of the FINECS is to promote research on new advances and outlooks mainly in the fields of economics, Islamic economics and finance 
            
            .col-lg-4.col-md-6.aim__advantages-item 
                .aim-ico
                    include icons/target-ico
                h3.lng-aimItem-title Target Market
                p.lng-aimItem-text Being an international journal, the natural audience for FINECS includes students, academics, researchers, policy-makers, regulators, standard-setters and professionals in the fields of economics, finance and management. Likely subscribers are universities, research institutions, research funding organizations, governmental and international agencies, financial institutions and exchanges, regulatory institutions and individual researchers.
            .col-lg-4.col-md-6.aim__advantages-item 
                .aim-ico
                    include icons/review-ico
                h3.lng-aimItem-title Peer Review Process
                p.lng-aimItem-text The editor/academic editor/managing editor determines whether the manuscript fits the journal’s focus and scope. Next a check for the similarity rate is done using CrossCheck, powered by iThenticate. Any manuscripts out of the journal’s scope or containing plagiarism, including self-plagiarism, are rejected. The journal uses double-blind system for peer-review; both reviewers and authors’ identities remain anonymous. The paper will be peer-reviewed by three experts; two reviewers from outside and one editor from the journal typically involve in reviewing a submission.
            .col-lg-4.col-md-6.aim__advantages-item 
                .aim-ico
                    include icons/copyright-ico
                h3.lng-aimItem-title Copyright and Reprint Permission
                p.lng-aimItem-text All Rights is Reserved by FINECS Publications. Abstracting or Indexing is allowed with acknowledgment to the journal source. The personal use of the journal articles is acceptable. However, approval to reprint/republish this material for advertising or promotional purposes or for creating new collective works for resale or redistribution to servers or lists, or to reuse any copyrighted component of this work in other works must be obtained from the journal
            .col-lg-4.col-md-6.aim__advantages-item 
                .aim-ico
                    include icons/time-ico
                h3.lng-aimItem-title Average Time
                p.lng-aimItem-text The average time between submission and final decision is 50 working days and the average time between acceptance and final publication is 40 to 60days.
            .col-lg-4.col-md-6.aim__advantages-item 
                .aim-ico
                    include icons/publish-ico
                h3.lng-aimItem-title Publication Charge
                p.lng-aimItem-text Submission and Publication is totally FREE OF CHARGE