section.content.issues
    .container.issues__container 
        .issues__tab 
            .issues__tab-title 
                button.lng-issueTab-btn(data-index="0").active current issues 
                button.lng-issueTab-btn(data-index="1") archive 
            .issues__tab-content 
                .issues__tab-item.active 
                    h2.lng-issueTab-title The 2nd issue of the journal
                    .issue 
                        .issue-text 
                            h3.lng-issueItem-title.issue-title SOURCES OF FUNDS FOR AGRICULTURAL LENDING
                            p.lng-issueItem-author.issue-author Toymukhammedov Ibrokhim
                        a(href="#") 
                            include icons/file-download-ico 
                            span PDF 
                    .issue 
                        .issue-text 
                            h3.lng-issueItem-title.issue-title DETERMINANTS OF THE COMPETITIVENESS OF THE TEXTILE INDUSTRY IN UZBEKISTAN
                            p.lng-issueItem-author.issue-author Feruza Matchanova
                        a(href="#") 
                            include icons/file-download-ico 
                            span PDF 
                    .issue 
                        .issue-text 
                            h3.lng-issueItem-title.issue-title FINANCING AGRICULTURE AND SMALL FARMING ENTERPRISES IN EMERGING ECONOMIES: A PRELIMINARY STUDY
                            p.lng-issueItem-author.issue-author Zamira Shaniyazova
                        a(href="#") 
                            include icons/file-download-ico 
                            span PDF 
                    .issue 
                        .issue-text 
                            h3.lng-issueItem-title.issue-title ENHANCING ACCESS TO FINANCE FOR YOUNG INNOVATIVE BUSINESSES WITH THE POTENTIAL FOR GROWTH
                            p.lng-issueItem-author.issue-author Bayramgul Jubanova
                        a(href="#") 
                            include icons/file-download-ico 
                            span PDF 
                .issues__tab-item        
                    h2.lng-issueTab-title The 1st issue of the journal
                    .issue  
                        .issue-text 
                            h3.lng-issueItem-title.issue-title DIVIDEND POLICY, SHARE PRICE, AND POTENTIAL PROFITABILITY: THE EVIDENCE FROM UZBEKISTAN
                            p.lng-issueItem-author.issue-author Buvsara Tashmuradova, Omonullo Hamdamov
                        a(href="#") 
                            include icons/file-download-ico 
                            span PDF 
                    .issue  
                        .issue-text 
                            h3.lng-issueItem-title.issue-title EVALUATION OF THE DETERMINANTS OF SHADOW ECONOMY IN SELECTED CENTRAL ASIAN COUNTRIES
                            p.lng-issueItem-author.issue-author Shokhjahon Elmurodov, Janabay Isakov
                        a(href="#") 
                            include icons/file-download-ico 
                            span PDF 
                    .issue  
                        .issue-text 
                            h3.lng-issueItem-title.issue-title PUBLIC PROCUREMENT SYSTEM IN UZBEKISTAN
                            p.lng-issueItem-author.issue-author Zebo Sharipova
                        a(href="#") 
                            include icons/file-download-ico 
                            span PDF 
                    .issue  
                        .issue-text 
                            h3.lng-issueItem-title.issue-title IMPACT OF COVID-19 PANDEMIC ON TOURIST ARRIVALS IN UZBEKISTAN
                            p.lng-issueItem-author.issue-author Odilova Dilbar
                        a(href="#") 
                            include icons/file-download-ico 
                            span PDF 
                    .issue  
                        .issue-text 
                            h3.lng-issueItem-title.issue-title ASSESSMENT OF EMPLOYMENT IN TOURISM INDUSTRY
                            p.lng-issueItem-author.issue-author Nargiza Khallieva
                        a(href="#") 
                            include icons/file-download-ico 
                            span PDF 
                    .issue  
                        .issue-text 
                            h3.lng-issueItem-title.issue-title DETERMINANTS OF SHADOW ECONOMY IN ASIAN COUNTRIES
                            p.lng-issueItem-author.issue-author Samariddin Elmirzaev, Shokhjahon Elmurodov
                        a(href="#") 
                            include icons/file-download-ico 
                            span PDF 
                    .issue  
                        .issue-text 
                            h3.lng-issueItem-title.issue-title DIRECTIONS FOR ACCELERATING EXPORT DIVERSIFICATION IN UZBEKISTAN BASED ON THAILAND`S EXPERIENCE
                            p.lng-issueItem-author.issue-author Azimov Shakhzod 
                        a(href="#") 
                            include icons/file-download-ico 
                            span PDF 