footer.footer 
    .container
        h2.footer__title.lng-footer-title Publisher 
        p.footer__text.lng-footer-text FINECS publishes leading research across all the major fields of financial and economic research. . Each issue of the journal reaches over academics, finance professionals, libraries, government and financial institutions around the world. It is supported and financed by  
            a(href="https://ytit.uz/uz/" target="blank") Yeoju Technical Institute in Tashkent.
        p.footer__copyright.lng-footer-copyright Copyright © 2021 —Financial and Economic Sustainability . All Rights Reserved.