header.header 
    include nav
    .container-fluid.header__container 
        .header__slider 
            .header__slider-item 
                img(src="images/slider.webp", alt="")
                .slider__content 
                    h2 Slider Title 
                    p Slider text Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem magni quod laborum pariatur! Iste eos distinctio amet aliquid quo, vel tempora voluptas iusto ipsum excepturi consequuntur ullam repellendus voluptate debitis odio error nisi dignissimos alias perferendis, neque maiores minus est. Quasi non aut laboriosam quos nobis maiores molestiae ipsa sapiente.
            .header__slider-item 
                img(src="images/slider.webp", alt="")
                .slider__content 
                    h2 Slider Title 
                    p Slider text Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem magni quod laborum pariatur! Iste eos distinctio amet aliquid quo, vel tempora voluptas iusto ipsum excepturi consequuntur ullam repellendus voluptate debitis odio error nisi dignissimos alias perferendis, neque maiores minus est. Quasi non aut laboriosam quos nobis maiores molestiae ipsa sapiente.
            .header__slider-item 
                img(src="images/slider.webp", alt="")
                .slider__content 
                    h2 Slider Title 
                    p Slider text Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem magni quod laborum pariatur! Iste eos distinctio amet aliquid quo, vel tempora voluptas iusto ipsum excepturi consequuntur ullam repellendus voluptate debitis odio error nisi dignissimos alias perferendis, neque maiores minus est. Quasi non aut laboriosam quos nobis maiores molestiae ipsa sapiente.