header.header 
    include nav
    .container-fluid.header__container 
        .header__slider 
            .header__slider-item 
                img(src="images/slider.webp", alt="")
                .slider__content 
                    h2.lng-slider-title
                    p.lng-slider-text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis esse obcaecati itaque impedit officia, unde dolorem corrupti perspiciatis neque tempora! Itaque error ducimus aperiam qui reprehenderit, libero optio, nemo cupiditate tempore esse corporis temporibus corrupti obcaecati tempora facere iusto nobis sint commodi culpa harum suscipit recusandae aut. Accusamus, esse laboriosam.
            .header__slider-item 
                img(src="images/slider.webp", alt="")
                .slider__content 
                    h2.lng-slider-title 
                    p.lng-slider-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia aliquam, quae eos atque excepturi magni eligendi beatae omnis fugit, assumenda similique dolorem harum, neque repellendus dolor expedita quis ullam error velit aliquid eius natus fuga. Quis cum provident facilis reprehenderit?
            .header__slider-item 
                img(src="images/slider.webp", alt="")
                .slider__content 
                    h2.lng-slider-title
                    p.lng-slider-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores facilis excepturi officia aspernatur laboriosam quam iusto fuga! Deserunt ullam, error dolorum reiciendis saepe aliquam nisi vero, repellat, fugiat perferendis mollitia ad. Omnis harum ad corporis et beatae. Explicabo culpa obcaecati, itaque ut rerum mollitia dolore quisquam neque voluptates temporibus consectetur.
            .header__slider-item 
                img(src="images/slider.webp", alt="")
                .slider__content 
                    h2.lng-slider-title
                    p.lng-slider-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex culpa eveniet, nihil quibusdam dolor excepturi perferendis numquam totam soluta, aut cum quo consectetur doloribus asperiores earum error placeat? Nobis laborum provident unde a repudiandae sit consequatur delectus officia adipisci iusto. Quasi est non iure eaque.