aside.left.closed
    button.left__btn
        img(src="images/arrows-ico.svg", alt="")
    ul.left__sidebar  
        li.left__sidebar-item
            include icons/career-ico
            a(href="#")
                span Career
        li.left__sidebar-item
            include icons/career-ico
            a(href="#")
                span Community
        li.left__sidebar-item
            include icons/career-ico
            a(href="#")
                span Contact
        li.left__sidebar-item.active
            include icons/career-ico
            a(href="#")
                span Consulting
        li.left__sidebar-item
            include icons/career-ico
            a(href="#")
                span Invitations
        li.left__sidebar-item
            include icons/career-ico
            a(href="#")
                span Membership
        li.left__sidebar-item
            include icons/career-ico
            a(href="#")
                span Projects
        li.left__sidebar-item
            include icons/career-ico
            a(href="#")
                span resources
aside.right.closed 
    button.right__btn
        img(src="images/arrows-ico.svg", alt="")
    ul.right__sidebar  
        li.right__sidebar-item
            include icons/career-ico
            a(href="#")
                span 2021 Conference
        li.right__sidebar-item
            include icons/career-ico
            a(href="#")
                span 2021 Conference
        li.right__sidebar-item
            include icons/career-ico
            a(href="#")
                span 2021 Conference
        li.right__sidebar-item
            include icons/career-ico
            a(href="#")
                span 2021 Conference
        li.right__sidebar-item
            include icons/career-ico
            a(href="#")
                span 2021 Conference
